@import '../colors';

.button {
    background: $primary-color;
    border: 0;
    padding: 15px;
    width: 100%;
    color: $white;
    font-weight: 700;
    cursor: pointer;
    &:first-of-type {
        margin-right: 15px;
    }
    &.danger {
        background: $danger-color;
    }
    &:disabled {
        opacity: 0.4;
    }
}
